#myTab
{
    margin-top: 2%;
}
.monTitre
{
    margin-bottom: 2%;
    text-align: center;
}
#maPub, #maDescription
{
    text-align: center;
}
@media (max-width: 767.98px) {#maPub{display: none;}}

.my-scrollspy
{
    position: sticky;
    top: 5px;
    padding-bottom: 50px;
}
#my-boutonsHeader
{
    text-align: center;
}
.table
{
    text-align: center;
}
.scrollspy{
    height: 125px;
    overflow: scroll;
}
body, html{
    height: 100%;
}

main{
    height: 80%;
}