#myTab
{
    margin-top: 2%;
}
#monTitre
{
    margin-bottom: 2%;
    text-align: center;
}
#maPub
{
    text-align: center;
}
@media (max-width: 767.98px) {#maPub{display: none;}}

.my-scrollspy
{
    position: sticky;
    top: 5px;
    padding-bottom: 50px;
}
#my-boutonsHeader
{
    text-align: center;
}